@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

#carouselExampleCaptions {
    border: outset rgb(51, 80, 158) 8px;
}


.tuto p {
    font-size: 18px;
}

header {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 5;
}




nav {
    float: right;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(51, 58, 158);
    font-weight: bold;
}


main {
    padding-top: 100px;
}



footer {
    margin-top: 200px;
}


h1 {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 2px rgb(114, 113, 113);
    float: left;
    padding: 8px;
}

h2 {
    margin-left: 70px;
    font-family: 'Noto Serif', serif;
}

h3 {
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}



