@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

div.background {
    background-color: rgb(227, 227, 236);
    padding-bottom: 50px;
}

header {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    width: 100%;
    position: fixed;
    padding: 10px;
    z-index: 5;
}

main {
    padding-top: 150px;
    width: 80%;
    margin: 0 auto;
}


#carouselExampleCaptions {
    border: outset rgb(51, 80, 158) 8px;
}

nav {
    float: right;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 25px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    color: rgb(51, 58, 158);
    font-weight: bold;
}

/*---letras---*/

h1 {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 2px rgb(114, 113, 113);
    float: left;
    padding: 8px;
}

h2 {
    margin-left: 70px;
    font-family: 'Noto Serif', serif;
}

h3 {
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.tuto p {
    font-size: 18px;
}

.redes {
    width: 30px;
}

@media only screen and (max-width: 823px) {
    nav {
        float: right;
    }

    .menu {
        width: 425px;
        margin: 0 auto;
    }

    nav ul li {
        list-style: none;
        margin-left: 30px;
        padding: 10px 0;
        float: left;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(51, 58, 158);
        font-weight: bold;
    }
}